// Bootstrap variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #8f959e !default;
$gray-600: #6a737b !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #1d2125 !default;
$black:    #000 !default;
$bg-dark:   #343a40 !default;
$bg-white:  #ffffff !default;

$blue:    #0f6cbf !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #ca3120 !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #357a32 !default;
$teal:    #20c997 !default;
$cyan:    #008196 !default;

$primary:       $blue !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$secondary:     $gray-400 !default;

$info-outline:    #1f7e9a;
$warning-outline: #a6670e;

// Tables
$table-accent-bg:             rgba($black, .03) !default;

// Options
$enable-responsive-font-sizes: true !default;

// Body
$body-color:    $gray-900 !default;

// Fonts
$font-size-base: 0.9375rem !default;
$rfs-base-font-size: 0.9rem !default;
$headings-font-weight:   700 !default;

// Navbar
$navbar-dark-hover-color:           rgba($white, 1) !default;
$navbar-light-color:                rgba($black, 0.6) !default;
$navbar-light-hover-color:          rgba($black, .9) !default;

// Breadcrumbs
$breadcrumb-padding-y:              .5rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-margin-bottom:          0 !default;
$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Alerts
$alert-border-width:                0 !default;

$card-group-margin: .25rem;

// Toasts
$toast-color:                       $white !default;
$toast-background-color:            rgba($gray-900, .95) !default;
$toast-header-color:                $gray-100 !default;
$toast-header-background-color:     rgba($white, .1) !default;

// Begin DBN Update.
$drawer-bg:                        #f5f9fd !default;
$pagenavbuttonsbg:                 #aabbcd !default;
$body-bg:                          #f5f9fd !default;
$courseboxheight:                  200px !default;
$nav-tabs-link-active-bg:           rgba($primary, 10%) !default;
$course-content-maxwidth:           100% !default;
// End DBN Update.

// Custom control size
$custom-control-indicator-size: 1.25rem;

$input-btn-focus-color: rgba($primary, .75) !default;

$input-border-color: $gray-500 !default;

$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;

$popover-max-width: 300px !default;

$border-radius: 0 !default;
$border-radius-lg: 0 !default;

// stylelint-disable
$theme-colors: () !default;
$theme-colors: map-merge((
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
), $theme-colors);
// stylelint-enable

$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
    6: ($spacer * 3)
) !default;

// Import FontAwesome.
@import "fontawesome";

// Import All of Bootstrap
@import "bootstrap";

// Import Core moodle CSS
@import "moodle";

// Preset CSS

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

// Rounded user pictures
.userpicture {
    border-radius: 50%;
}

// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.
.btn-outline-secondary {
    @include button-outline-variant($gray-600);
    border-color: $gray-600;
}

.btn-outline-info {
    @include button-outline-variant($info-outline);
}

.btn-outline-warning {
    @include button-outline-variant($warning-outline);
}

@include bg-variant(".bg-gray", $gray-200, true);

//GSES Custom SCSS Edits - for GSES sites only

//Course Extension Plugin SCSS
#page-local-courseextension-index .form-row .form-group label .course {
  color: red;
}
#page-local-courseextension-index .proceedbutton {
  max-width: 30%;
}
#page-local-courseextension-index .cancelbutton {
  max-width: 20%;
}
#page-local-courseextension-index .cancelbutton #cancel {
  background-color: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}

//Hide Crisp Chat javascript block
.block_crisp_chat {
  display: none;
}

//Hide gap on front page (site home)
.pagelayout-frontpage .secondary-navigation {
    display: none;
}
.pagelayout-frontpage #region-main {
    display: none;
}

//SCSS changes to My courses cards
.block .block-cards .multiline {
  color: $black;
  font-weight: bold;
  font-size: large;
}
.card {
  border-radius: 2rem;
}
.pagelayout-frontpage div[data-region="mainpage"] h1.h2 {
  display: none;
}
.pagelayout-frontpage div[data-region="mainpage"] li.nav-item {
  display: none;
}
.dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
  @media (min-width: 1000px) {
    width: calc(25% - 0.5rem);
  }
}
.card-deck.dashboard-card-deck.fixed-width-cards .dashboard-card {
  @media (min-width: 1000px) {
    width: calc(25% - 0.5rem);
  }
}
.dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
  border: 1px solid #000030a8;
  background-color: #000a32;
}
.card-deck.dashboard-card-deck.fixed-width-cards .dashboard-card {
  border: 1px solid #000030a8;
  background-color: #000a32;
}
div.w-100.text-truncate a.coursename.aalink {
  color: white;
  font-weight: bold;
}
div.w-100.text-truncate a.coursename.aalink span.multiline {
  color: white;
}

div.w-100.text-truncate div.text-muted.muted.d-flex.flex-wrap {
  color: white !important;
}
div.w-100.text-truncate
  div.text-muted.muted.d-flex.flex-wrap
  span.categoryname.text-truncate {
  color: white !important;
}
div.card.dashboard-card[data-region="course-content"]
  div.card-footer.dashboard-card-footer {
  background-color: #000a32 !important;
  border-radius: 2rem;
  margin-top: 5px;
}
div.ml-auto.dropdown button.btn.btn-link.btn-icon.icon-size-3.coursemenubtn {
  color: white;
}
.dashboard-card-deck.one-row {
  overflow-x: hidden;
}
.dashboard-card-deck .dashboard-card .dashboard-card-img {
  height: 18rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
body.pagelayout-mycourses
  div.card.dashboard-card
  div.card-body.pr-1.course-info-container
  div.w-100.text-truncate {
  margin-bottom: -1rem;
}

//GSES Custom SCSS edits - for all sites

//Hide ? popup
.btn-footer-popover {
  display: none !important;
}

//Hide Home button
li[data-key="home"] {
  display: none;
}

//Make activity restriction icons red
i.icon.fa.fa-lock.fa-fw {
  color: red;
}

//Add background gradient for activities
li.activity.activity-wrapper.hasinfo[data-for="cmitem"]:not(.label) div.activity-item {
  background-image: linear-gradient(45deg, #ededed, transparent);
}

//Display longer names on the LHS drawer
a.courseindex-link.text-truncate {
  white-space: normal;
}

//Hide progress percentage on course cards
.block .block-cards .progress-text {
  display: none;
}

//Bring buttons and text in line with the description on activity pages
div.activity-header+div[role="main"] {
  margin-left: 1rem;
  margin-right: 1rem;
}

//Increase bolding of top bar text
.navbar.navbar-dark .nav-link {
  font-weight: 500;
}